Django==5.1
Pillow==10.4.0
PyYAML==6.0.2
django-bootstrap5==24.2
django-cachalot==2.6.3
django-compressor==4.5.1
django-extensions==3.2.3
django-filter==24.3
django-libsass==0.9
djangorestframework==3.15.2
favicon==0.7.0
feedparser==6.0.11
gunicorn==23.0.0
psycopg2-binary==2.9.9
pymemcache==4.0.0
python-dotenv==1.0.1
redis==5.0.8
requests==2.32.3
sorl-thumbnail==12.10.0
uritemplate==4.1.1
uvicorn==0.30.6
