{% extends 'base.html' %}
{% load base_extras humanize i18n thumbnail %}

{% block content %}
  {% regroup feed_list by category as feeds %}

  <div class="modal" tabindex="-1" id="feedModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{% trans 'Feed' %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" id="sortModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{% trans 'Sort feeds' %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group sortable sort-sources">
            {% for c in feeds %}
              {% for f in c.list %}
                <li class="list-group-item sort-source" data-source-id="{{ f.id }}">
                  {% thumbnail f.favicon "32x32" as im %}
                    <img class="source-img me-1" src="{{ im.url }}">
                  {% endthumbnail %}
                  {{ f }}
                  <button
                          class="btn btn-sm btn-danger float-end ms-1 sort-hide"
                          type="button"><i class="fas fa-times"></i></button>
                  <button
                          class="btn btn-sm btn-success float-end ms-1 sort-move-down"
                          type="button"><i class="fas fa-arrow-down"></i></button>
                  <button
                          class="btn btn-sm btn-success float-end ms-1 sort-move-up"
                          type="button"><i class="fas fa-arrow-up"></i></button>
                  <button
                          class="btn btn-sm btn-success float-end ms-1 sort-move-top"
                          type="button"><i class="fas fa-arrow-up"></i><i class="fas fa-arrow-up"></i></button>
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </div>
    </div>
  </div>

  {% if top_words.exists %}
    <div class="row mb-3 text-center">
      <div class="col-12">
        {% for tw in top_words.top_10 %}
          <a href="/?q={{ tw.word }}"><span
                  class="badge fs-6 {% if tw.word|lower == q|lower %}bg-success{% else %}bg-secondary{% endif %} text-capitalize me-1 mb-2">{{ tw.word }}</span></a>
        {% endfor %}
        <a href="" class="top-10-show-all"><span
                class="badge bg-secondary fs-6 text-capitalize me-1 mb-2">...</span></a>
        {% for tw in top_words.rest %}
          <a href="/?q={{ tw.word }}" class="d-none top-10-rest"><span
                  class="badge {% if tw.word|lower == q|lower %}bg-success{% else %}bg-secondary{% endif %} fs-6 text-capitalize me-1 mb-2">{{ tw.word }}</span></a>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <div class="view-multi">
    <div class="row sources">
      {% for category in feeds %}
        {% if category.grouper.feed_set.count %}
          {% for feed in category.list %}
            {% if feed.entry_set.exists %}
              <div class="col-12 col-md-6 col-xl-4 source" data-source-id="{{ feed.id }}">
                <div class="card mb-4">
                  <div class="card-header">
                    <a href="{{ feed.site_url }}" class="no-decoration">
                      {% thumbnail feed.favicon "32x32" as im %}
                        <img class="source-img me-1" src="{{ im.url }}">
                      {% endthumbnail %}
                      {{ feed.title }}
                    </a>
                    <a class="float-end"
                       href=""
                       data-bs-toggle="modal"
                       data-bs-target="#sortModal"><i class="fas fa-sort"></i></a>
                  </div>
                  <div class="card-body">
                    <ul>
                      {% entry_list feed q=q limit=7 as entry_list %}
                      {% for e in entry_list %}
                        <li>
                          <a href="{{ e.url }}">{{ e }}</a> <span
                                class="{% if e.is_new %}new{% endif %} small text-muted"
                                title="{{ e.created_at|date:"d.m.Y H:i" }}">{{ e.created_at|naturalday }} {{ e.created_at|date:"H:i" }}</span>
                        </li>
                      {% endfor %}
                    </ul>

                    <a class="card-link no-decoration"
                       href=""
                       data-modal-title="{{ feed }}"
                       data-update-url="{% url 'base:xhr_feed_older_news' feed_id=feed.id %}?q={{ q|default:"" }}"
                       data-bs-toggle="modal"
                       data-bs-target="#feedModal">{% trans 'Older news' %}</a>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="view-single">
    {% for category in feeds %}
      {% if category.grouper.feed_set.count %}
        {% for feed in category.list %}
          {% if feed.entry_set.exists %}
            <div class="single-feed mb-4 pb-3 px-3 border-bottom" data-source-id="{{ feed.id }}">
              <div class="single-feed-header d-flex align-items-center justify-content-between mb-2">
                <div class="">
                  <a href="{{ feed.site_url }}" class="no-decoration fw-semibold d-flex align-items-center">
                    {% thumbnail feed.favicon "64x64" as im %}
                      <img class="source-img me-2" src="{{ im.url }}">
                    {% endthumbnail %}
                    <span class="fs-4">{{ feed.title }}</span>
                  </a>
                </div>
                <a class="text-decoration-none" href="" data-bs-toggle="modal" data-bs-target="#sortModal"><i
                        class="fas fa-sort"></i></a>
              </div>
              <ul class="single-feed-list">
                {% entry_list feed q=q limit=7 as entry_list %}
                {% for e in entry_list %}
                  <li class="mb-1">
                    <a href="{{ e.url }}">{{ e }}</a>
                    <span class="{% if e.is_new %}new{% endif %} small text-muted ms-2"
                          title="{{ e.created_at|date:"d.m.Y H:i" }}">{{ e.created_at|naturalday }} {{ e.created_at|date:"H:i" }}</span>
                  </li>
                {% endfor %}
              </ul>
              <div class="mt-2">
                <a class="no-decoration" href="" data-modal-title="{{ feed }}"
                   data-update-url="{% url 'base:xhr_feed_older_news' feed_id=feed.id %}?q={{ q|default:"" }}"
                   data-bs-toggle="modal" data-bs-target="#feedModal">{% trans 'Older news' %}</a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
